.footer__author {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 18px 0 18px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #F2F2F2;
}