@import url(../footer/__columns/footer__columns.css);
@import url(../footer/__column/footer__column.css);
@import url(../footer/__author/footer__author.css);
@import url(../footer/__social-icon/footer__social-icon.css);
@import url(../footer/__column/_content/footer__column_content_copyright.css);
@import url(../logo/_place/_footer/logo_place_footer.css);

.footer {
    display: flex;
    min-height: 350px;
    background-color: #1F1F1F;
    padding: 60px 0 40px;
}