.header__square-pic {
    position: absolute;
    animation: rotation linear 20s infinite forwards;
    transform: rotate(-15deg);
    top: 64px;
    right: 0;
    width: 568px;
    height: 568px;
    background-color: #2F80ED;
}